{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/jqueryconfirm/jquery-confirm.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/sweetalert2/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/accessibility.css' %}">

    {% block head %}
    {% endblock %}
</head>
<body class="hold-transition layout-top-nav">

    {% block page_content %}
    {% endblock %}

    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/jqueryconfirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/toastr/toastr.min.js' %}"></script>

    {% block javascript %}
    {% endblock %}
</body>
</html>